<div class="modal fade app-confirm-modal" id="appConfirmModal" tabindex="-1" aria-labelledby="appConfirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div>
                    <div class="app-confirm-modal__eyebrow" id="appConfirmModalEyebrow">Confirmaci&oacute;n</div>
                    <h2 class="app-confirm-modal__title" id="appConfirmModalTitle">&#191;Est&aacute;s seguro?</h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body pt-2">
                <p class="app-confirm-modal__message mb-0" id="appConfirmModalMessage">Esta acci&oacute;n no se puede deshacer.</p>
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="appConfirmModalSubmit">Confirmar</button>
            </div>
        </div>
    </div>
</div>
